*{
margin: 0; padding: 0;

}

@font-face {
    font-family: 'quicksandlight';
    src: url('quiksandLightFont/quicksand_light-webfont.eot');
    src: url('quiksandLightFont/quicksand_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('quiksandLightFont/quicksand_light-webfont.woff') format('woff'),
         url('quiksandLightFont/quicksand_light-webfont.ttf') format('truetype'),
         url('quiksandLightFont/quicksand_light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'montezregular';
    src: url('montez_regular_macroman/Montez-Regular-webfont.eot');
    src: url('montez_regular_macroman/Montez-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('montez_regular_macroman/Montez-Regular-webfont.woff') format('woff'),
         url('montez_regular_macroman/Montez-Regular-webfont.ttf') format('truetype'),
         url('montez_regular_macroman/Montez-Regular-webfont.svg#montezregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/***********************body***********************************/
body{
background-color: #f3f2f1;
}


/****************le corps de la page**************************/
#corps{
width: 993px;
height: 1507px;
margin: auto;
background-color: white;
border-left: solid 0.5px lightgray;
border-right: solid 0.5px lightgray;
}
/**********************menu principal*************************/

.blocmenu {
background-color: #681319;
position: fixed;
z-index: 1;
height: 45px;
width: 100%;
margin-top: 65px;
box-shadow: bottom gray;
}

#menu{
margin-left: 320px;
}

#menu li{
list-style-type: none;
display: inline;
margin-left: 35px;
}

#menu li a {
text-decoration: none;
line-height: 45px;
color: white;
}

#menu li a:hover{
color: black;
}

/*******************titre h1******************************/
#titre{
font-family: 'quicksandlight', normal, serif ;
font-size: 50px;
position: absolute;
color: #767b79;
top: 115px;
left: 285px;
text-align: center;
}
/**********************header*****************************/ 
#entete{
height: 370px;
margin-top: -65px;
background-image: url("logosite_cedd.png");
background-image: url("backfoto.jpg");
background-repeat: no-repeat;
border-bottom: solid 0.5px lightgray;
}

/***********************logo du site***********************/
#logo{
position: fixed;
z-index: 2;
margin-top: 80px;
background-repeat: no-repeat;
display: block;
margin-left: 10px;

}
/***********************le sous menu************************/
#soumenu {
position: absolute;
z-index: 3;
margin-top: 345px;
margin-left: 600px;
}
#soumenu li{
list-style-type: none;
display: inline;
}
#soumenu li a{
text-decoration: none;
color: #681319;
}
#soumenu li a:hover{
color: green;
}
/*****************************section parent**********************************/
#parent{
background-color: white;
margin-top: 20px;
margin-left: 10px;
}
#parent h2{
padding-top: 10px;
padding-bottom: 10px;
color: white;
margin-left: 10px;
font-family: 'quicksandlight', normal;
font-size: 1em;
}


#parent a{
color: white;
text-decoration: none;
}
#parent a:hover{
color: black;
}
#parent img{
border: solid 2px white;
}
#parent p{
font-family: 'quicksandlight', normal;
font-size: 0.8em;
}
/******************************sction fils************************************/
#fils{
background-color: #3da195;
width: 48%;
}
#fils p{
color: white;
padding: 10px;
}
#fils img{
margin-left: 10px;
}
.act1{
padding-bottom: 16px;
display: inline-block;
}
.act2{
display: inline-block;
margin-top: 30px;
}

/************************article3********************************************/

.act3{
background-color: #91b244;
height: 310px;
width: 480px;
position: absolute;
left: 680px;
top: 325px;
}
.act3 p{
color: white;
padding: 10px;
font-family: 
}
.act3 img{
margin-left: 10px;
}
/***************************article4*****************************************/
.act4{
background-color: #681319;
width: 480px;
position: absolute;
left: 680px;
top: 664px;
}
.act4 p{
color: white;
padding: 10px;
}
.act4 img{
margin-left: 10px;
}
/**************************section mot du président*******************/
#mot_presi{
width: 970px;
height: 200px;
margin-left: 10px;
margin-right: 10px;
margin-top: 50px;	
}
#mot_presi img{
float: left;
padding-right: 10px;
padding-top: 20px;
}
#mot_presi p{
color: #767b79; 
padding-top: 20px;
}
h3{
font-size: 30px;
font-family: 'quicksandlight', normal, serif ;
color: #767b79;
}
#mot_presi a{
float: right;
text-decoration: none;
color: black;
}
#mot_presi a:hover{
color: red;
}


/*****************************footer********************************************/
footer{
width: 970px;
height: 170px;
background-color: #f3f2f1;
margin-left: 10px;
margin-top: 30px;
border: solid 1px lightgray;
}

footer ul{
margin-left: 10px;
margin-top: 30px;
}
footer ul li {
list-style-type: none;
}

footer ul li a{
text-decoration: none;
color: #767b79;
}
footer h4 a{
position: absolute;
margin-left: 800px;
margin-top: 13px;
color: gray;
text-decoration: none;
}
footer h4 a:hover{
color: black;
}
footer p{
position: absolute;
color: #767b79;
margin-left: 800px;
margin-top: -120px;
}

/*******reseaux sociaux*********/
#rsociaux{
position: absolute;
margin-left: 410px;
margin-top: -80px;
text-align: center;
}

#rsociaux h3{
font-family: montezregular;
font-style: italic;
}

/***************************************fin du footer************************/


